### Import libraries and load dataset

In [1]:
import os
import re
import time
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("totaltweets.csv")
df.shape

(234587, 8)

### Subset all tweets in Feb 2020

In [3]:
df.created_at=[datetime.strptime(i,'%m/%d/%Y %H:%M').date() for i in df.created_at]
df=df[df.created_at>=datetime(2020,2,1).date()]
df.shape

(45527, 8)

In [4]:
df=df[df.created_at<datetime(2020,3,1).date()]
df.shape

(11500, 8)

### Count average likes per user

In [5]:
df =df[['author_name', 'likes']]
df.shape

(11500, 2)

In [6]:
df = df.groupby('author_name', as_index=False)['likes'].mean()  #  calculate average likes
df.head()

    author_name         likes
0    A.R.Rahman   7043.408163
1    Aamir Khan  23027.200000
2        Adrian      1.500000
3  Akshay Kumar  27190.352941
4      Ali Zeck     33.492958

In [7]:
df.columns = ['author_name', 'average_likes'] # rename the columns

In [ ]:
#df.to_csv('average_likes.csv', index=False)